// Specific CSS for your home-page
body {
  background-color: rgba(0, 50, 150, 0.5);
}

.game-center {
  border: 8px solid #aac6ff8a;
  border-radius: 8px;
  background-color: #0013659c;
  margin-top: 32px;
}

.title {
  text-align: center;
  h1 {
    padding: 16px;
    background-color: rgba(50, 50, 100, 1.0);
    color: white;
  }
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: 380px;
    height: 300px;
    margin: 16px;
    border: 8px solid #c8caec;
    border-radius: 12px;
  }
  img:hover {
    border: 12px solid #b9bbda;
    transition-delay: 0.04s;
  }
}

.invisible {
  display: none;
}

.sort {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 16px;
  border-radius: 8px;
  width: 480px;
  border: 8px solid #aac6ff8a;
  background-color: rgba(50, 50, 100, 1.0);;
  .tab {
    border: 8px solid #aac6ff8a;
    margin: 8px;
    padding: 8px;
    border-radius: 12px;
    background-color: #4f77f9d9;
    color: white;
    text-align: center;
  }
  .active {
    background-color: #4263d0d9;
    border: 8px solid #6be7ffd4;
  }
  .tab:hover {
    cursor: pointer;
    background-color: #4263d0d9;
    border: 8px solid #6be7ffd4;
  }
}
