<div class="wrapper">
  <div class="box-area">
    <div class="box box-front"></div>
    <div class="box box-right"></div>
    <div class="box box-back"></div>
    <div class="box box-left"></div>
    <div class="box box-top"></div>
    <div class="box box-bottom"></div>
  </div>
</div>
