<div class="title">
  <h1 id="name"><%= link_to "Game", root_path %></h1>
</div>

<audio class="laser invisible" controls preload="none">
    <source src="<%= asset_path('laser.mp3') %>" type="audio/mpeg">
</audio>

<canvas id="game" style="background-color: white;"></canvas>

<div class="data">
  <a><b>Score:</b></a>
  <div id="score">0</div>
  <div id="start">Start</div>
  <div class="instructions">
    <a></a>
  </div>
</div>
