<div id="grids">
  <% i = 1 %>
  <% j = 1 %>
  <% 10.times do %>
    <% k = 1 %>
    <% 10.times do %>
      <div id="<%= j %>" class="grid <%= i == 1 && k == 1  ? "active" : "" %> <%= i == 1 || i == 10 || k == 1 || k == 10 ? "boundary" : "" %>"><%= j %></div>
      <% j += 1 %>
      <% k += 1 %>
    <% end %>
    <% i += 1 %>
  <% end %>
</div>
