<div class="title">
  <h1 id="name"><%= link_to "Simon Says", root_path %></h1>
</div>

<div id="game-state" class="invisible">Off</div>
<div id="com-select" class="invisible"></div>

<div class="main">
  <div class="game">
    <div id="options">
      <div class="option" id="o-1"></div>
      <div class="option" id="o-2"></div>
      <div class="option" id="o-3"></div>
      <div class="option" id="o-4"></div>
      <div class="option" id="o-5"></div>
    </div>
    <div id="display">
      <div class="button start"><p>Start Game</p></div>
<!--       <div class="button selection s-1"></div>
      <div class="button selection s-2"></div>
      <div class="button selection s-3"></div>
      <div class="button selection s-4"></div>
      <div class="button selection s-5"></div> -->
    </div>
  </div>
</div>
