#grids-2048 {
  width: 40.4rem;
  height: 40.4rem;
  background-color: #e4d4ba;
  border: 0.2rem solid #0c080091;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  .grid {
    width: 9.9rem;
    height: 9.9rem;
    margin: 0.05rem;
    background-color: #e4b566ad;
    border: 0.2rem solid #0c080087;
    border-radius: 8px;
    color: #4c2401;
    font-size: 56px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active {
    background-color: #ffab00;
  }
}
