.balloon {
  display: flex;
  justify-content: center;
  .main {
    #grids {
      background-color: white;
      .grid {
        width: 9.091%;
        height: 9.091%;
        border: 1px solid black;
      }
      .block {
        background-color: brown;
      }
      .crate {
        background-color: beige;
      }
      .balloon {
        background-color: blue;
      }
      .active {
        background-color: orange;
      }
      .blast {
        background-color: cyan;
      }
      .exballoon {
        background-color: pink;
      }
    }
  }
}
