.balloon {
  display: flex;
  justify-content: center;
  .main {
    #grids {
      background-color: #ffe9e0;
      .grid {
        width: 9.091%;
        height: 9.091%;
        border-radius: 8px;
      }
      .block {
        background-color: #823728;
        border: 1px solid #0000004d;
      }
      .crate {
        background-color: #d2b17aa8;
        border: 1px solid #0000004d;
      }
      .active {
        background: radial-gradient(#c53b00, #ffc67f);
        border-radius: 50%;
        border: 1px solid #0000004d;
      }
      .active-2 {
        background: radial-gradient(#47a705, #7fffbe);
        border-radius: 50%;
        border: 1px solid #0000004d;
      }
      .balloon-1 {
        background: radial-gradient(#c9dbff, #32bce4);

        border-radius: 50%;
      }
      .balloon-2 {
        background: radial-gradient(#c9dbff, #32bce4);

        border-radius: 50%;
      }
      .exballoon {
        background-color: pink;
        border-radius: 50%;
        border: 1px solid #0000004d;
      }
      .power {
        background-color: green;
        border-radius: 50%;
        border: 1px solid #0000004d;
      }
      .crate.exballoon {
        background-color: pink;
        border-radius: 8px;
      }
      .crate.power {
        background-color: green;
        border-radius: 8px;
      }
      .blast {
        background: radial-gradient(circle, #24c2c6 0%, #00ffde 100%);
        border-radius: 8px;
        border: 0;
      }
      .blast-v {
        background: linear-gradient(90deg, #00ffde 0%, #24c2c6 50%, #00ffde 100%);
        border-radius: 8px;
        border: 0;
      }
      .blast-h {
        background: linear-gradient(0deg, #00ffde 0%, #24c2c6 50%, #00ffde 100%);
        border-radius: 8px;
        border: 0;
      }
    }
  }

  .data {
    margin-top: 32px;
    #start {
      margin-top: 8px;
    }
    .bars {
      margin-left: 40px;
      display: flex;
      .bar-ex {
        width: 16px;
        height: 16px;
        background-color: pink;
        margin-right: 4px;
        margin-bottom: 4px;
        border-radius: 4px;
      }
      .bar-power {
        width: 16px;
        height: 16px;
        background-color: green;
        margin-right: 4px;
        margin-bottom: 4px;
        border-radius: 4px;
      }
    }
    .exballoon {
      background-color: pink;
      border-radius: 8px;
      padding: 1px;
      color: #5e006f;
      font-weight: bold;
    }
    .power {
      background-color: green;
      border-radius: 8px;
      padding: 1px;
      font-weight: bold;
    }
  }
}
