.cube-player {
  .box {
    top: -100px;
  }
  .front {
    transform: translateX(-50px) translateY(-50px) translateZ(550px);
  }
  .back {
    transform: translateX(-50px) translateY(-50px) translateZ(450px);
  }
  .right {
    transform: translateY(-50px) translateZ(500px) rotateY(90deg);
  }
  .left {
    transform: translateX(-100px) translateY(-50px) translateZ(500px) rotateY(90deg);
  }
  .bottom {
    transform: translateX(-50px) translateZ(500px) rotateX(90deg);
  }
  .top {
    transform: translateX(-50px) translateY(-100px) translateZ(500px) rotateX(90deg);
  }
}

.cube-enemy {
  .box {
    top: -100px;
    left: 0px;
  }
  .front {
    transform: translateX(-50px) translateY(-50px) translateZ(-450px);
  }
  .back {
    transform: translateX(-50px) translateY(-50px) translateZ(-550px);
  }
  .right {
    transform: translateY(-50px) translateZ(-500px) rotateY(90deg);
  }
  .left {
    transform: translateX(-100px) translateY(-50px) translateZ(-500px) rotateY(90deg);
  }
  .bottom {
    transform: translateX(-50px) translateZ(-500px) rotateX(90deg);
  }
  .top {
    transform: translateX(-50px) translateY(-100px) translateZ(-500px) rotateX(90deg);
  }
}

.laser {
  top: -100px;
}

.box.move-left {
  left: -100px;
}
.box.move-left2 {
  left: -200px;
}
.box.move-right {
  left: 100px;
}
.box.move-right2 {
  left: 200px;
}

@media only screen and (max-width: 1200px) {
  .cube-player {
    .box {
      top: -50px;
    }
    .front {
      transform: translateX(-25px) translateY(-25px) translateZ(275px);
    }
    .back {
      transform: translateX(-25px) translateY(-25px) translateZ(225px);
    }
    .right {
      transform: translateY(-25px) translateZ(250px) rotateY(90deg);
    }
    .left {
      transform: translateX(-50px) translateY(-25px) translateZ(250px) rotateY(90deg);
    }
    .bottom {
      transform: translateX(-25px) translateZ(250px) rotateX(90deg);
    }
    .top {
      transform: translateX(-25px) translateY(-50px) translateZ(250px) rotateX(90deg);
    }
  }

  .cube-enemy {
    .box {
      top: -50px;
      left: 0px;
    }
    .front {
      transform: translateX(-25px) translateY(-25px) translateZ(-225px);
    }
    .back {
      transform: translateX(-25px) translateY(-25px) translateZ(-275px);
    }
    .right {
      transform: translateY(-25px) translateZ(-250px) rotateY(90deg);
    }
    .left {
      transform: translateX(-50px) translateY(-25px) translateZ(-250px) rotateY(90deg);
    }
    .bottom {
      transform: translateX(-25px) translateZ(-250px) rotateX(90deg);
    }
    .top {
      transform: translateX(-25px) translateY(-50px) translateZ(-250px) rotateX(90deg);
    }
  }

  .laser {
    top: -50px;
  }

  .box.move-left {
    left: -50px;
  }
  .box.move-left2 {
    left: -100px;
  }
  .box.move-right {
    left: 50px;
  }
  .box.move-right2 {
    left: 100px;
  }
}
