.depth-charge {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  #game {
    background-image: image-url('depth_charge_canvas');
    background-repeat: no-repeat;
    background-size: cover;
    border: 16px solid #99c3e2;
    border-radius: 16px;
  }
  .depth-charge-data {
    width: 200px;
    margin-left: 32px;
  }
}
