.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 1500px;
}

.box-area {
  position: relative;
  transform-style: preserve-3d;
  transform: rotate3d(0,1,0,0.5deg)matrix3d(0.845559, 0.0996988, 0.524498, 0, 0.122828, 0.919732, -0.37284, 0, -0.519563, 0.379683, 0.765434, 0, 0, 0, 0, 1);
  // animation-name: rotate;
  // animation-duration: 30s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;

  .cube {
    position: relative;
    transform-style: preserve-3d;
  }

  .box {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid #262626;
    background-color: #fbf6ea;
  }

  .cube-23 .box {
    background-color: blue;
  }
  .cube-17 .box {
    background-color: red;
  }
  .cube-15 .box {
    background-color: cyan;
  }
  .cube-13 .box {
    background-color: green;
  }
  .cube-5 .box {
    background-color: orange;
  }
  .cube-11 .box {
    background-color: pink;
  }

  .l-1.front {
    transform: translateX(-50px) translateY(-50px) translateZ(-50px);
  }
  .l-1.back {
    transform: translateX(-50px) translateY(-50px) translateZ(-150px);
  }
  .l-1.right {
    transform: translateY(-50px) translateZ(-100px) rotateY(90deg);
  }
  .l-1.left {
    transform: translateX(-100px) translateY(-50px) translateZ(-100px) rotateY(90deg);
  }
  .l-1.bottom {
    transform: translateX(-50px) translateZ(-100px) rotateX(90deg);
  }
  .l-1.top {
    transform: translateX(-50px) translateY(-100px) translateZ(-100px) rotateX(90deg);
  }

  .l-2.front {
    transform: translateX(-50px) translateY(-50px) translateZ(50px);
  }
  .l-2.back {
    transform: translateX(-50px) translateY(-50px) translateZ(-50px);
  }
  .l-2.right {
    transform: translateY(-50px) rotateY(90deg);
  }
  .l-2.left {
    transform: translateX(-100px) translateY(-50px) rotateY(90deg);
  }
  .l-2.bottom {
    transform: translateX(-50px) rotateX(90deg);
  }
  .l-2.top {
    transform: translateX(-50px) translateY(-100px) rotateX(90deg);
  }

  .l-3.front {
    transform: translateX(-50px) translateY(-50px) translateZ(150px);
  }
  .l-3.back {
    transform: translateX(-50px) translateY(-50px) translateZ(50px);
  }
  .l-3.right {
    transform: translateY(-50px) translateZ(100px) rotateY(90deg);
  }
  .l-3.left {
    transform: translateX(-100px) translateY(-50px) translateZ(100px) rotateY(90deg);
  }
  .l-3.bottom {
    transform: translateX(-50px) translateZ(100px) rotateX(90deg);
  }
  .l-3.top {
    transform: translateX(-50px) translateY(-100px) translateZ(100px) rotateX(90deg);
  }

  .p-1 {
    left: -100px;
    bottom: -200px;
  }
  .p-2 {
    left: 0px;
    bottom: -200px;
  }
  .p-3 {
    left: 100px;
    bottom: -200px;
  }
  .p-4 {
    left: -100px;
    bottom: -100px;
  }
  .p-5 {
    left: 0px;
    bottom: -100px;
  }
  .p-6 {
    left: 100px;
    bottom: -100px;
  }
  .p-7 {
    left: -100px;
    bottom: 0px;
  }
  .p-8 {
    left: 0px;
    bottom: 0px;
  }
  .p-9 {
    left: 100px;
    bottom: 0px;
  }

  .cube-23.active {
    .front {
    transform: translateX(-50px) translateY(-50px) translateZ(180px);
    }
    .back {
      transform: translateX(-50px) translateY(-50px) translateZ(80px);
    }
    .right {
      transform: translateY(-50px) translateZ(130px) rotateY(90deg);
    }
    .left {
      transform: translateX(-100px) translateY(-50px) translateZ(130px) rotateY(90deg);
    }
    .bottom {
      transform: translateX(-50px) translateZ(130px) rotateX(90deg);
    }
    .top {
      transform: translateX(-50px) translateY(-100px) translateZ(130px) rotateX(90deg);
    }
  }
  .cube-5.active {
    .l-1.front {
    transform: translateX(-50px) translateY(-50px) translateZ(-80px);
    }
    .l-1.back {
      transform: translateX(-50px) translateY(-50px) translateZ(-180px);
    }
    .l-1.right {
      transform: translateY(-50px) translateZ(-130px) rotateY(90deg);
    }
    .l-1.left {
      transform: translateX(-100px) translateY(-50px) translateZ(-130px) rotateY(90deg);
    }
    .l-1.bottom {
      transform: translateX(-50px) translateZ(-130px) rotateX(90deg);
    }
    .l-1.top {
      transform: translateX(-50px) translateY(-100px) translateZ(-130px) rotateX(90deg);
    }
  }
  .cube-17.active {
    .l-2.front {
      transform: translateX(-50px) translateY(-80px) translateZ(50px);
    }
    .l-2.back {
      transform: translateX(-50px) translateY(-80px) translateZ(-50px);
    }
    .l-2.right {
      transform: translateY(-80px) rotateY(90deg);
    }
    .l-2.left {
      transform: translateX(-100px) translateY(-80px) rotateY(90deg);
    }
    .l-2.bottom {
      transform: translateX(-50px) translate(-30px) rotateX(90deg);
    }
    .l-2.top {
      transform: translateX(-50px) translateY(-130px) rotateX(90deg);
    }
  }
  .cube-11.active {
    .l-2.front {
      transform: translateX(-50px) translateY(-20px) translateZ(50px);
    }
    .l-2.back {
      transform: translateX(-50px) translateY(-20px) translateZ(-50px);
    }
    .l-2.right {
      transform: translateY(-20px) rotateY(90deg);
    }
    .l-2.left {
      transform: translateX(-100px) translateY(-20px) rotateY(90deg);
    }
    .l-2.bottom {
      transform: translateX(-50px) translateY(30px) rotateX(90deg);
    }
    .l-2.top {
      transform: translateX(-50px) translateY(-70px) rotateX(90deg);
    }
  }
  .cube-13.active {
    .l-2.front {
      transform: translateX(-80px) translateY(-50px) translateZ(50px);
    }
    .l-2.back {
      transform: translateX(-80px) translateY(-50px) translateZ(-50px);
    }
    .l-2.right {
      transform: translateX(-30px) translateY(-50px) rotateY(90deg);
    }
    .l-2.left {
      transform: translateX(-130px) translateY(-50px) rotateY(90deg);
    }
    .l-2.bottom {
      transform: translateX(-80px) rotateX(90deg);
    }
    .l-2.top {
      transform: translateX(-80px) translateY(-100px) rotateX(90deg);
    }
  }
  .cube-15.active {
    .l-2.front {
      transform: translateX(-20px) translateY(-50px) translateZ(50px);
    }
    .l-2.back {
      transform: translateX(-20px) translateY(-50px) translateZ(-50px);
    }
    .l-2.right {
      transform: translateX(30px) translateY(-50px) rotateY(90deg);
    }
    .l-2.left {
      transform: translateX(-70px) translateY(-50px) rotateY(90deg);
    }
    .l-2.bottom {
      transform: translateX(-20px) rotateX(90deg);
    }
    .l-2.top {
      transform: translateX(-20px) translateY(-100px) rotateX(90deg);
    }
  }
}


// @keyframes rotate {
//   0% {
//     transform: rotate3d(0, 0, 0, 0);
//   }
//   25% {
//     transform: rotate3d(0, 1, 0, 90deg);
//   }
//   50% {
//     transform: rotate3d(1, 0, 0, 90deg);
//   }
//   100% {
//     transform: rotate3d(0, 0, 1, 180deg);
//   }
// }
