.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 1500px;
}

.box-area {
  position: relative;
  transform-style: preserve-3d;
  transform: rotate3d(0,1,0,0.5deg)matrix3d(0.845559, 0.0996988, 0.524498, 0, 0.122828, 0.919732, -0.37284, 0, -0.519563, 0.379683, 0.765434, 0, 0, 0, 0, 1);
  // animation-name: rotate;
  // animation-duration: 30s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
}

.box {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 2px solid #262626;
}

.box-front {
  transform: translateX(-200px) translateY(-200px) translateZ(200px);
  background-image: image-url('Cell_Buster');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-back {
  transform: scaleX(-1) translateX(200px) translateY(-200px) translateZ(-200px);
  background-image: image-url('Helicopter');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-right {
  transform: translateY(-200px) rotateY(90deg);
  background-image: image-url('Caterpillar');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-left {
  transform: scaleZ(-1) translateX(-400px) translateY(-200px) rotateY(90deg);
  background-image: image-url('Tetris');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-bottom {
  transform: scaleZ(-1) translateX(-200px) rotateX(90deg);
  background-image: image-url('Pong');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-top {
  transform: translateX(-200px) translateY(-400px) rotateX(90deg);
  background-image: image-url('Simon_Says');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// @keyframes rotate {
//   0% {
//     transform: rotate3d(0, 0, 0, 0);
//   }
//   25% {
//     transform: rotate3d(0, 1, 0, 90deg);
//   }
//   50% {
//     transform: rotate3d(1, 0, 0, 90deg);
//   }
//   100% {
//     transform: rotate3d(0, 0, 1, 180deg);
//   }
// }
