#grids {
  width: 800px;
  height: 800px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  .grid {
    width: 5%;
    height: 5%;
    // border: 1px solid black;
  }
  .active {
    background-image: image-url('killerTcell');
    width: 5%;
    height: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
};

#start {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.laser {
  background-image: image-url('particle1');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.enemy {
  background-color: green;
}

.level-2 {
  background-color: yellow;
}

#level-selector {
  display: flex;
  .level-adjustor {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
  }
}
