#grids-c-4 {
  width: 800px;
  height: 800px;
  border: 12px solid rgba(150, 150, 150, 0.5);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 100, 200, 1.0);
  .grid-c-4 {
    width: 10%;
    height: 10%;
    background-color: rgba(0, 0, 100, 1.0);
    border-radius: 50%;
  }
  .hover {
    background-color: rgba(0, 255, 255, 0.8);
  }
  .active-1 {
    background-color: #ffff16;
    border: 12px solid #96961e8a;
  }
  .active-2 {
    background-color: #ce2828;
    border: 12px solid #9e2222a3;
  }
};

.main-c-4 {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.data-c-4 {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-left: 8px;
  .player {
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    border: 8px solid rgba(0, 0, 0, 0);
  }
  #player-1 {
    background-color: #ffff16;
  }
  #player-2 {
    background-color: #ce2828;
  }
  .active {
    border: 8px solid rgba(150, 150, 150, 0.5);
  }
}
