#grids-pong {
  width: 900px;
  height: 600px;
  border: 12px solid rgba(150, 150, 150, 0.5);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 50, 0.9);
  .grid-pong {
    width: 3.333%;
    height: 5%;
  }
  .obstacle {
    background-image: image-url('brick');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ball {
    background-color: cyan;
    border-radius: 50%;
  }
  .active {
    background-color: green;
    border-radius: 0;
  }
}

.lives {
  display: flex;
  justify-content: center;
  .life {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: cyan;
    margin: 4px;
    margin-bottom: 12px;
  }
  .empty {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    margin: 4px;
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 1200px) {
  #grids-pong {
    width: 600px;
    height: 450px;
    border: 8px solid rgba(150, 150, 150, 0.5);
  }
}
