#grids {
  width: 800px;
  height: 800px;
  border: 12px solid rgba(150, 150, 150, 0.5);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 50, 0.9);
  .grid {
    width: 5%;
    height: 5%;
  }
}

.cell {
  .active {
    background-image: image-url('cell');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-height: 900px) {
  #grids {
    width: 600px;
    height: 600px;
    border: 8px solid rgba(150, 150, 150, 0.5);
  }
}

#start {
  width: 80px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  background-color: rgba(200, 100, 0, 1.0);
  border: 2px solid rgba(200, 150, 0, 1.0);
  border-radius: 24px;
  font-weight: bold;
}

#start:hover {
  cursor: pointer;
  background-color: rgba(230, 150, 0, 0.9);
}

#reset {
  width: 80px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: 16px;
  background-color: rgba(200, 100, 0, 1.0);
  border: 2px solid rgba(200, 150, 0, 1.0);
  border-radius: 24px;
  font-weight: bold;
  color: white;
}

#reset:hover {
  cursor: pointer;
  background-color: rgba(230, 150, 0, 0.9);
}

.laser {
  background-image: image-url('particle1');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.enemy {
  background-image: image-url('virus2');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.level-2 {
  background-image: image-url('virus');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#level-selector {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  .level-adjustor {
    border: 2px solid rgba(200, 150, 0, 1.0);
    border-radius: 8px;
    background-color: rgba(200, 100, 0, 1.0);
    margin: 8px;
    padding: 8px;
  }
  #level {
    width: 40px;
    font-weight: bold;
  }
  #level-increase:hover {
    cursor: pointer;
    background-color: rgba(230, 150, 0, 0.9);
  }
  #level-decrease:hover {
    cursor: pointer;
    background-color: rgba(230, 150, 0, 0.9);
  }
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.data {
  color: white;
  background-color: rgba(50, 50, 100, 1.0);
  text-align: center;
  padding: 8px;
  height: 100%;
  border: 8px solid rgba(150, 150, 150, 0.5);
  border-radius: 8px;
  margin-left: 16px;
  .instructions {
    width: 160px;
    margin-top: 16px;
    padding: 4px;
    border-radius: 8px;
    background-color: #53539c;
    border: 2px solid rgba(200, 150, 0, 1.0);
  }
  a:hover {
    text-decoration: none;
  }
}

#timer {
  font-size: 48px;
}

#score {
  font-size: 48px;
}
