#grids-heli {
  width: 800px;
  height: 800px;
  border: 12px solid rgba(150, 150, 150, 0.5);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 50, 0.9);
  color: white;
  font-size: 30px;
  font-weight: strong;
  text-align: center;
  .grid-heli {
    width: 1%;
    height: 2.5%;
  }
  .obstacle {
    background-color: beige;
  }
  .cover {
    background-color: rgba(0, 0, 0, 0);
  }
  .active {
    // background-image: image-url('cell');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: green;
  }
}

@media only screen and (max-width: 1200px) {
  #grids-heli {
    width: 600px;
    height: 600px;
    border: 8px solid rgba(150, 150, 150, 0.5);
  }
}
