#grids-snake {
  width: 800px;
  height: 800px;
  border: 12px solid rgba(150, 150, 150, 0.5);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  background-image: url('https://image.freepik.com/free-vector/brown-soil-texture-background_1308-20483.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: rgba(255, 250, 230, 0.9);
  background-color: rgba(115, 85, 60, 0.9);
  .grid-snake {
    width: 5%;
    height: 5%;
    .inner {
      width: 100%;
      height: 100%;
    }
  }
  .body {
    background-image: image-url('body');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .active-u {
    background-image: image-url('HeadU');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .active-d {
    background-image: image-url('HeadD');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .active-r {
    background-image: image-url('HeadR');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .active-l {
    background-image: image-url('HeadL');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .food {
    background-image: image-url('leaf');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


@media only screen and (max-width: 1200px) {
  #grids-snake {
    width: 600px;
    height: 600px;
    border: 8px solid rgba(150, 150, 150, 0.5);
  }
}
