#hangman {
  #chosen-word {

  }
  #word {
    display: flex;
    .hidden-letter {
      margin-right: 8px;
    }
  }
  #image {
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 16px;
    img {
      width: 100%;
      height: 100%;
    }
    .hidden {
      filter: contrast(0%) brightness(50%);
    }
  }
  #input {

  }
  #used-letters {
    .letter {

    }
  }
}
