.sb-container {
  border: 4px #b8c2c3 solid;
  background-color: #1f1f54;
  margin: auto;
  margin-top: 32px;
  padding: 8px;
  width: 50rem;
  height: 50rem;
  border-radius: 16px;
  .sound-beat {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: 1rem;
    .box {
      width: 180px;
      height: 20rem;
    }
    #hit {
      font-size: 32px;
      font-weight: bold;
      margin-top: 0.5rem;
      color: #a9ffff;
    }
  }
  #song {
    margin: 8px;
    border-radius: 4px;
    background-color: #8383bb;
    color: white;
  }
}

@media only screen and (max-height: 900px) {
  .sb-container {
    width: 50rem;
    height: 38rem;
    .sound-beat {
      #hit {
        font-size: 24px;
        margin-top: 3rem;
      }
    }
  }
}
